/* Variables*/
$primarybackground: #46484A;
$footerheader: #9FA3A7;
$primaryaccent: #4D0400;
$secondaryaccent: #2B3355;
$text: #ffffff;
@use '_about.scss';
@import 'contact.scss';

@import "bootstrap/scss/bootstrap.scss";
body{
    background-color: $primarybackground;
    overflow: scroll;
    padding-bottom: 20px;
    margin: 10px;
}


h1{
    font-family:'Crimson Text';
    color: $text;
    font-style: bold;
}

h2{
    font-family: 'Crimson Text';
    color: $text;
}

p{
    font-family: 'Crimson Text';
    color: $text;
}

.btn{
    background-color: $primaryaccent;
    text-emphasis: $text;
}


/*Nav*/

body {
    margin: 0;
}
.navbar-toggler{
    background-color: $secondaryaccent;
    border: none;
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: $footerheader;
    color: $text;
  }
  
  .navbar-brand, .nav-link {
    color: $text ; 
    transition: color 0.3s ease; 
  }
  
  .navbar-brand:hover, .nav-link:hover {
    color: $secondaryaccent;
  }

/*Album Covers*/
  
.portfolio-box {
    overflow: hidden;
    margin-bottom: 1.5rem;
    height: 400px; 
    position: relative;
}
  
.portfolio-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: opacity 1s ease;
}
  
.portfolio-info-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondaryaccent;
    color: white;
    opacity: 0;
    transition: opacity 1.5s ease;
    text-align: center;
    padding: 1rem;
}
  
.portfolio-box:hover img {
    opacity: 0.2;
}
  
.portfolio-box:hover .portfolio-info-2 {
    opacity: 1;
}
  
.portfolio-info-2 h2 {
    margin: 0;
}


/*Footer*/
footer{
    background-color: $footerheader;
    color: $text;

    p{
        margin: 0px;
    }

    form{
        align-items: center;
    }
}

@import "bootstrap-icons/font/bootstrap-icons.css";
